.bHeader {
    width: 100vw;
    height: 50vh;
    background-color: none;
    background-image: url(blog-image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    }

h1 {
    position: relative;
    top: 40vh;
    left: 20vh;
}



