.mainWrapper {
    display: flex;
    background-color: #f6f6f6;
}

.aboutPosts {
  width: 35 vw;  
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
}

.blogPosts {
    padding: 0% 10% 10% 10%;
    
}