
// This is the styling for my index page

nav {
    color:white;
    background-color: #345231;
}


nav {
    ul {
    display: flex;
    justify-content: center;
    }

    li {
        margin: 1%;
    }

    li a{
        list-style: none;
        color: white;
        text-decoration: none;
        background-color: 345231;
        

    }
}

h1 {
    position: relative;
    bottom: 50%;
    align-items: center;
}

.h1Img {
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

header {
    display: flex;
    width: 100vw;
    height: 60vh;
    justify-content:  space-around;
    align-items: center;
    margin: 0 auto;
    position: relative;
}
.circletextImg {
    position: absolute;
    top:30%;
    left: 60px;
}

.willowHeaderImg {
    position: relative;  
    left: 55vw;
        img {
            width: 25%;
            position: absolute;
            top: -10vh;
            left: 10%;

    }
}