// Who is Willow

.who {
  display: block;
    text-align: center;
    margin: 5% auto 5% auto;
}


// favorite things

.favThings {
    display: flex;
    position: relative;
    margin-bottom: 5%;
}

.favThingsImg {
    background-color: #709b6b;
    width: 50%;
    height: auto;
        img {
            width: 80%;
            position: relative;
            left: 15%;
            bottom: 5%;

        }
}

.favThingsText {
    width: 50vw;
    display: block;
    text-align: left;
    padding: 5%;
}

// Bucket List
.bucketList {
    display: flex;

}

.bucketListText {
    text-align: right;
    width: 50%;
    padding: 5%;
}

.bucketListImg {
    background-color: #345231;
    width: 50%;
    height: auto;
        img {
            width: 80%;
            position: relative;
            bottom: 5%;
            right: 2%;
        }
    }

    // Journey Section
    .journey {
        display: flex;
        background-color: #f6f6f6;
        padding: 5%;
    }

    .journeyText {
        flex-direction: column;
        text-align: left;
        padding: 5%;
        justify-content: space-around;
    }

    .journeyImg {
        background-color: #709b6b;
            img {
                position: relative;
                bottom: 1%;
                right: 3%;
            }
    }



// Glallery
    .gallery {
        margin: 0 auto;
            ul{
                display: flex;
                justify-content: space-around;
                list-style: none;
            }
    }